@using Railway.Core.Entities;
@model Railway.Core.Entities.Exemplaire

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exemplaire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroInventaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroInventaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiseEnService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiseEnService)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Buillet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Buillet.Titre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
